{% macro render_basic(data) -%}

    <md-card>
        <md-card-title>
            <span class="md-headline">Basic Information</span>
        </md-card-title>

        <md-table-container layout-padding>
            <table md-table>
                <tbody md-body>
                {% for key in data|dictsort %}
                    <tr md-row>
                        <td md-cell>{{ key }}</td>
                        <td md-cell>{{ dict[key] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </md-table-container>
    </md-card>
{%- endmacro %}
