{% macro render_basic(data) -%}

    <md-card>
        <md-card-title>
            <span class="md-headline">Basic Information</span>
        </md-card-title>

        <md-table-container layout-padding>
            <table md-table>
                <tbody md-body>
                    <tr md-row>
                        <td md-cell>Number of genes</td>
                        <td md-cell>{{ data['num_genes'] }}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>Number of reactions</td>
                        <td md-cell>{{ data['num_reactions'] }}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>Number of metabolites</td>
                        <td md-cell>{{ data['num_metabolites'] }}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell>Number of metabolites without known formula</td>
                        <td md-cell>{{ data['metabolites_no_formula']|length }}</td>
                    </tr>

                </tbody>
            </table>
        </md-table-container>
    </md-card>
{%- endmacro %}
