{% macro render_card_content(name, data) -%}
    <md-card>
        <md-card-title>
            <span class="md-headline">{{ name }}</span>
        </md-card-title>

        <md-table-container layout-padding>
            <table md-table>
                <tbody md-body>
                {% for pair in data | dictsort %}
                    <tr md-row>
                        <td md-cell>{{ pair[0] }}</td>
                        <td md-cell>{{ pair[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </md-table-container>
    </md-card>
{%- endmacro %}
