{% from '_list_data.html' import render_list_data %}

{% macro render_card_content(name, data) -%}
    <md-card ng-app>
        <md-card-title>
            <span class="md-headline">{{ name }}</span>
        </md-card-title>

        <md-table-container layout-padding>
            <table md-table>
                <tbody md-body>
                {% for pair in data | dictsort %}
                    <tr md-row>
                        <td md-cell>{{ pair[0] }}</td>
                        {% if pair[1] is iterable and pair[1] is not string %}
                        {{ render_list_data(
                            pair[0],
                            pair[1]
                        ) }}
                        {% else %}
                        <td md-cell>{{ pair[1] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </md-table-container>
    </md-card>
{%- endmacro %}
