{% macro render_list_data(key, list) -%}
    <td md-cell>
        <div ng-controller="AppCtrl" ng-cloak>
            <md-content style=" background-color: rgb(255,255,255);">
                    <md-button onclick="$('tr.{{ key }}').toggle();"
                               class="md-primary">
                        {{ list | length }}
                    </md-button>
            </md-content>
        </div>
    </td>
    </tr>
    <tr class={{ key }} style=" display: none;">
        <td colspan="2">{{ list }}</td>

{%- endmacro %}
