{% macro render_syntax(data) -%}
    <md-card>
            <md-card-title>
                <span class="md-headline">Syntax Information</span>
            </md-card-title>
            <md-table-container layout-padding>
                <table md-table>
                    <tbody md-body>
                        <tr md-row>
                            <td md-cell>Number of non-cytosolic reactions without compartment suffix: </td>
                            <td md-cell>{{ data['reaction_compartment_suffix']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of reactions with compartment suffix but inconsistent metabolites</td>
                            <td md-cell>{{ data['reaction_metabolite_compartment']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of transports without suffix</td>
                            <td md-cell>{{ data['untagged_normal_transport']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of ABC transports without suffix</td>
                            <td md-cell>{{ data['untagged_abc_transport']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of demand reactions without prefix 'DM_'</td>
                            <td md-cell>{{ data['untagged_demand']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of exchange reactions without prefix 'EX_'</td>
                            <td md-cell>{{ data['untagged_exchange']|length }}</td>
                        </tr>
                        <tr md-row>
                            <td md-cell>Number of metabolites with uppercase letters</td>
                            <td md-cell>{{ data['uppercase_metabolites']|length }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-tabs>
            <md-content>
                <md-tab id="tab_1">
                    <md-tab-label>
                        non-cytosolic w/o suffix
                    </md-tab-label>
                    <md-tab-body>
                        {% for n in range(data['reaction_compartment_suffix']|length) %}
                            <md-content layout="row" layout-wrap>
                                <div ng-repeat="item in {{ data['reaction_compartment_suffix'][n] }}" style="margin: 5px;">
                                    {% raw %}
                                        {{ item }}
                                    {% endraw %}
                                </div>
                            </md-content>
                        {% endfor %}
                    </md-tab-body>
                </md-tab>

                <md-tab id="tab_2">
                    <md-tab-label>
                        Inconsistent metabolites
                    </md-tab-label>
                    <md-tab-body>
                        {% for n in range(data['reaction_metabolite_compartment']|length) %}
                            <md-content layout="row" layout-wrap>
                                <div ng-repeat="item in {{ data['reaction_metabolite_compartment'][n] }}" style="margin: 5px;">
                                    {% raw %}
                                        {{ item }}
                                    {% endraw %}
                                </div>
                            </md-content>
                        {% endfor %}
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab_3">
                    <md-tab-label>
                        Transport w/o suffix
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="row" layout-wrap>
                            <div ng-repeat="item in {{ data['untagged_normal_transport'] }}" style="margin: 5px;">
                                {% raw %}
                                    {{ item }}
                                {% endraw %}
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab_4">
                    <md-tab-label>
                        ABC w/o suffix
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="row" layout-wrap>
                            <div ng-repeat="item in {{ data['untagged_abc_transport'] }}" style="margin: 5px;">
                                {% raw %}
                                    {{ item }}
                                {% endraw %}
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab_5">
                    <md-tab-label>
                        Demand w/o prefix
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="row" layout-wrap>
                            <div ng-repeat="item in {{ data['untagged_demand'] }}" style="margin: 5px;">
                                {% raw %}
                                    {{ item }}
                                {% endraw %}
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab_6">
                    <md-tab-label>
                        Exchange w/o prefix
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="row" layout-wrap>
                            <div ng-repeat="item in {{ data['untagged_exchange'] }}" style="margin: 5px;">
                                {% raw %}
                                    {{ item }}
                                {% endraw %}
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab id="tab_7">
                    <md-tab-label>
                        Uppercase
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="row" layout-wrap>
                            <div ng-repeat="item in {{ data['uppercase_metabolites'] }}" style="margin: 5px;">
                                {% raw %}
                                    {{ item }}
                                {% endraw %}
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-content>
        </md-tabs>
    </md-card>
{%- endmacro %}
