{% extends "layout.html" %}
{% from '_basic_helpers.html' import render_basic %}
{% from '_consistency_helpers.html' import render_consistency %}
{% from '_biomass_helpers.html' import render_biomass %}
{% from '_syntax_helpers.html' import render_syntax %}

{% block header -%}
    <div class="md-toolbar-tools">
        <h1 class="md-toolbar-tools" flex>{{ super() }} - {{ timestamp }}</h1>
    </div>
{%- endblock %}

{% block content -%}
    <md-content layout="row" class="md-padding" layout-xs="column">
        <div layout="column" flex>
            {{ render_basic(data['report']['test_basic']) }}
            {{ render_consistency(data['report']['test_consistency']) }}
        </div>
        <div layout="column" flex>
            {{ render_biomass(data['report']['test_biomass']) }}
            {{ render_syntax(data['report']['test_syntax']) }}
        </div>
    </md-content>
{%- endblock %}
