{% extends "layout.html" %}

{% block title -%}
<title>{{ names|join(", ") }} Report</title>
{%- endblock %}

{% block topscript -%}
    <script src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured"></script>
    <script src="https://cdn.plot.ly/plotly-1.26.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.3.5/d3.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{%- endblock %}

{% block header -%}
{{ names|join(", ") }} Report
{%- endblock %}

{% block content -%}
    <md-content layout="row" class="md-padding" layout-xs="column">
        <div layout="column" flex>
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Basic Information</span>
                </md-card-title>

                <md-tabs md-dynamic-height>
                    <md-tab id="tab_0">
                        <md-tab-label>
                           Genes
                        </md-tab-label>
                        <md-tab-body>
                            <div id="plotDiv" style="width: 500px; height: 500px">
                                {{ basics["genes"] }}
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_1">
                        <md-tab-label>
                           Reactions
                        </md-tab-label>
                        <md-tab-body>
                            {{ basics["reactions"] }}
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_2">
                        <md-tab-label>
                           Metabolites
                        </md-tab-label>
                        <md-tab-body>
                            {{ basics["metabolites"] }}
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_3">
                        <md-tab-label>
                           Metabolites no formula
                        </md-tab-label>
                        <md-tab-body>
                            {{ basics["metabolites_no_formula"] }}
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card>

            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Syntax Information</span>
                </md-card-title>
            </md-card>
        </div>

        <div layout="column" flex>
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Biomass Production</span>
                </md-card-title>
                <md-tabs md-dynamic-height>
                    <md-tab id="tab_0">
                        <md-tab-label>
                           Biomass Sum
                        </md-tab-label>
                        <md-tab-body>
                            <md-content>
                                <div id="plot">
                                    {{ biomass["biomass_sum"] }}
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_1">
                        <md-tab-label>
                           Biomass Default Flux
                        </md-tab-label>
                        <md-tab-body>
                            {{ biomass["biomass_default_flux"] }}
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_2">
                        <md-tab-label>
                           Num Default Blocked Precursors
                        </md-tab-label>
                        <md-tab-body>
                            {{ biomass["num_default_blocked_precursors"] }}
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab_3">
                        <md-tab-label>
                           Num Open Blocked Precursors
                        </md-tab-label>
                        <md-tab-body>
                            {{ biomass["num_open_blocked_precursors"] }}
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card>
            <md-card flex>
                <md-card-title>
                    <span class="md-headline">Stoichiometric Consistency</span>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
{%- endblock %}


{% block bottomscript %}
{{ super() }}
<script>
    var waitForPlotly = setInterval( function() {
        if( typeof(window.Plotly) !== "undefined" ){
            MathJax.Hub.Config({ SVG: { font: "STIX-Web" }, displayAlign: "center" });
            MathJax.Hub.Queue(["setRenderer", MathJax.Hub, "SVG"]);
            clearInterval(waitForPlotly);
        }}, 250 );
</script>
{%- endblock %}
