{% extends "layout.html" %}

{% block title -%}
<title>{{ names|join(", ") }} Report</title>
{%- endblock %}

{% block topscript -%}
<script src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured"></script>
<script src="https://cdn.plot.ly/plotly-1.26.1.min.js"></script>
{%- endblock %}

{% block header -%}
<h1>{{ names|join(", ") }} Report</h1>
{%- endblock %}

{% block content -%}
<h2 class="mdc-typography--display2">Basic Information</h2>

{{ basics["genes"] }}

{{ basics["reactions"] }}

{{ basics["metabolites"] }}

{{ basics["metabolites_no_formula"] }}

<h2 class="mdc-typography--display2">Biomass Production</h2>

{{ biomass["biomass_sum"] }}

{{ biomass["biomass_default_flux"] }}

{{ biomass["num_default_blocked_precursors"] }}

{{ biomass["num_open_blocked_precursors"] }}

<h2 class="mdc-typography--display2">Stoichiometric Consistency</h2>
<h2 class="mdc-typography--display2">Syntax Information</h2>
{%- endblock %}


{% block bottomscript %}
{{ super() }}
<script>
    var waitForPlotly = setInterval( function() {
        if( typeof(window.Plotly) !== "undefined" ){
            MathJax.Hub.Config({ SVG: { font: "STIX-Web" }, displayAlign: "center" });
            MathJax.Hub.Queue(["setRenderer", MathJax.Hub, "SVG"]);
            clearInterval(waitForPlotly);
        }}, 250 );
</script>
{%- endblock %}
