<mat-card fxFlex>
  <mat-card-title>{{ module.moduleName }}</mat-card-title>
    <mat-card-content>
      <mat-accordion
      multi="true"
      displayMode="flat" >
         <mat-expansion-panel
         hideToggle="true"
         *ngFor="let test of module.testResults"
         #expPanel>
          <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-description fxLayoutAlign="space-between start">
              <span> {{ test.title }} </span>
              <div [ngSwitch]="test.type">
                <span *ngSwitchCase="'length'">
                  {{ test.data.length | number : '1.'}}
                </span>
                <span *ngSwitchCase="'number'">
                  {{ test.metric | number : '1.2-2'}}
                </span>
                <span *ngSwitchCase="'object'">
                  Click for details
                </span>
                <span *ngSwitchCase="'array'">
                  {{ test.data }}
                </span>
                <span *ngSwitchCase="'string'">
                  {{ test.data }}
                </span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout='column' flexLayoutAlign='space-between center'>
          <div> {{ test.summary }} </div>
          <div *ngIf="test.data">
            <textarea rows="4" style="overflow-wrap: break-word; width:100%">
            {{ test.data }}
            </textarea>
          </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
