[paths]
source =
    src/memote
    */site-packages/memote

[run]
branch = true
parallel = true

[report]
precision = 2
exclude_lines =
    # Have to re-enable the standard pragma.
    pragma: no cover
