// Plus imports for other components in your app.
@import '../node_modules/@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mat-memote-primary: (
    50 : #f0f6fc,
    100 : #b1d4ed,
    200 : #84bae3,
    300 : #4a99d6,
    400 : #318cd0,
    500 : #2a7bb8,
    600 : #246a9f,
    700 : #1f5a86,
    800 : #19496d,
    900 : #133854,
    A100 : #e3f2fe,
    A200 : #81c6fa,
    A400 : #3097e5,
    A700 : #288ad3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$memote-primary: mat-palette($mat-memote-primary);
$memote-accent:  mat-palette($mat-memote-primary, A200);

// The warn palette is optional (defaults to red).
$memote-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$memote-theme: mat-light-theme(
    $memote-primary,
    $memote-accent,
    $memote-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($memote-theme);

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

body {padding-top: 3%;}

textarea {
  color:Gray;
  border: none;
  background-color: #f0f6fc;
  overflow-wrap: break-word;
  width:100%;
}

.test-title {
  color: black;
  font-weight: 500;
}

.MatButtonEmulation {
  font: caption;
  display:inline-block;
  margin: 0.05vh;
  white-space: normal;
  word-wrap: break-word;
  border-radius: 2px;
  text-align: center;
  color: white ;
  background: #2a7bb8; 
  width: 70px;
  padding: 0.5vw;
  height: auto; 
}

.badge {
  position:relative;
  text-align:center;
  background:#ff4081;
  width:1vmax;
  height:1vmax;
  line-height:1vmax;        

  border-radius:50%;
}

.vert-align {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color:white;
    font-size:0.6vmax;
  }
