<div *ngIf="data.byReg(case).length > 1">
  <mat-expansion-panel
  #expPanel
  class="mat-elevation-z0">
     <mat-expansion-panel-header
     class="mat-expansion-panel-header"
     collapsedHeight="auto"
     expandedHeight="auto"
     style="padding:0.05vh">
       <mat-panel-title fxLayoutAlign='space-between center'>
         <td class="test-title">
           {{ data.byID(data.byReg(case)[0])?.title }}
         </td>
         <td>
           <button mat-button style="color:black"> Info </button>
         </td>
       </mat-panel-title>
     </mat-expansion-panel-header>
       <div>
         <p> {{ data.byID(data.byReg(case)[0])?.summary }} </p>
       </div>
 </mat-expansion-panel>
</div>
  <mat-accordion
  multi="true"
  displayMode="flat">
       <mat-expansion-panel
       *ngFor="let testId of data.byReg(case); let i = index"
       #expPanel
       class="mat-elevation-z0">
          <mat-expansion-panel-header
          class="mat-expansion-panel-header"
          collapsedHeight="auto"
          expandedHeight="auto"
          style="padding:0.05vh">
            <mat-panel-title
            *ngIf="data.byReg(case).length === 1; else noTitle"
            fxLayoutAlign='space-between center'>
              <td class="test-title">
                {{ data.byID(testId)?.title }}
              </td>
              <td>
                <app-result-button [testId]="testId"></app-result-button>
              </td>
            </mat-panel-title>
            <ng-template #noTitle>
              <mat-panel-title fxLayoutAlign='space-between center'>
                <td style="padding-left:1vh"> {{ data.getParam(testId, 1) }} </td>
                <td>
                  <app-result-button [testId]="testId"></app-result-button>
                </td>
              </mat-panel-title>
            </ng-template>
          </mat-expansion-panel-header>
          <div fxLayout='column' flexLayoutAlign='space-between center'>
            <div *ngIf="data.byReg(case).length === 1; else justMessages">
              <p>{{ data.byID(testId)?.summary }}</p>
              <p>{{ data.byID(testId)?.message }}</p>
            </div>
            <ng-template #justMessages>
              <div>
                <tr> {{ data.byID(testId)?.message }} </tr>
              </div>
            </ng-template>
            <div *ngIf="data.reportType != 'history'; else vegaPlot">
              <br>
              <textarea rows="4" style="overflow-wrap: break-word; width:100%">
                {{ data.getString(data.byID(testId)?.data) }}
              </textarea>
            </div>
            <ng-template #vegaPlot>
              <br>
                <div>
                  <app-vega-plot [type]="data.byID(testId)?.type" [plotData]="data.byID(testId)?.history"></app-vega-plot>
                </div>
            </ng-template>
          </div>
      </mat-expansion-panel>
  </mat-accordion>
