<mat-card-title>Universal Core</mat-card-title>
    <mat-card-content>
      <div
        fxLayout='row'
        fxLayoutAlign='space-between start'
        fxLayoutAlign.xs='space-between center'
        fxLayout.xs='column'>
        <div fxFlex> Total Score
          <div>
            <div style="font-size:15vh">{{ data.score.total_score | percent:'.'  }}</div>
          </div>
        </div>
        <div fxFlex> Score per Category
        <div id="catScore">
          <app-vega-bar-chart></app-vega-bar-chart>
        </div>
        </div>
      </div>
      <hr>
      <div>
      <div fxFlex>
        <h2>Scored Tests</h2>
        <div *ngFor="let section of scoreData.sections | keys">
          <h3> {{ scoreData.sections[section].title }}</h3>
          <div *ngFor="let case of scoreData.sections[section].cases">
            <app-accordion [case]="case"></app-accordion>
          </div>
        </div>
      </div>
      </div>
</mat-card-content>
