<table  style="width:100%">
    <tr>
      <td> Parameter</td>
      <td> Result </td>
    </tr>
    <tr *ngFor="let pair of keyValuePairs">
      <td> {{ pair[0] }}</td>
        <div [ngSwitch]="getType(pair[1])">
          <td *ngSwitchCase="'object'"> {{ pair[1].length }}</td>
          <td *ngSwitchCase="'enum'"> {{ pair[1].length }}</td>
          <td *ngSwitchCase="'array'"> {{ pair[1].length }}</td>
          <td *ngSwitchCase="'number'"> {{ pair[1] }}</td>
          <td *ngSwitchCase="'string'"> {{ pair[1] }}</td>
        </div>
    </tr>
  </table>
