
<div *ngIf="!scored; else metricTable" fxLayout='column' fxLayoutAlign='start stretch'>
<tr *ngFor="let pair of keyValuePairs; let i = index" fxLayoutAlign='space-between center' style="padding:0.05vh 0vh 0.05vh">
  <td style="padding-left:1vh"> {{ pair[0] }}</td>
  <div *ngIf="resultObject[i][1] === 'passed' || resultObject[i][1] === 'failed'">
      <td *ngIf="getType(pair[1]) === 'object' || getType(pair[1]) === 'enum' || getType(pair[1]) === 'number'">
        <button
        mat-raised-button
        color="primary"
        style="color:white">
          {{ pair[1].length }}
        </button>
      </td>
      <td *ngIf="getType(pair[1]) ==='number'">
        <button
        mat-raised-button
        color="primary"
        style="color:white">
           {{ pair[1] | number : '1.2-2' }}
        </button>
      </td>
      <td *ngIf="getType(pair[1]) === 'string' || getType(pair[1]) === 'boolean'">
        <button
        mat-raised-button
        color="primary"
        style="color:white">
           {{ pair[1] }}
        </button>
      </td>
  </div>
  <div *ngIf="resultObject[i][1] === 'skipped'">
    <td>
      <button
       mat-raised-button
       disabled
       style="color:black">
       Skipped
       </button>
     </td>
  </div>
  <div *ngIf="resultObject[i][1] === 'error'">
    <td>
      <button
       mat-raised-button
       style="color:red;background-color:black">
       Errored
       </button>
     </td>
  </div>
</tr>
</div>
<ng-template #metricTable>
  <tr *ngFor="let pair of keyValuePairs; let i = index" fxLayoutAlign='space-between center' style="padding:0.05vh 0vh 0.05vh">
    <td style="padding-left:1vh"> {{ pair[0] }}</td>
      <div *ngIf="resultObject[i][1] === 'passed' || resultObject[i][1] === 'failed'">
        <td> <app-coloured-score [metric]="pair[1]"></app-coloured-score></td>
      </div>
      <div *ngIf="resultObject[i][1] === 'skipped'">
        <td>
          <button
           mat-raised-button
           disabled
           style="color:black">
           Skipped
           </button>
         </td>
      </div>
      <div *ngIf="resultObject[i][1] === 'error'">
        <td>
          <button
           mat-raised-button
           style="color:red;background-color:black">
           Errored
           </button>
         </td>
      </div>
  </tr>
</ng-template>
