<div *ngIf="data.isScored(data.getParam(testId, 0)); else notScored">
    <!-- If they are from scored tests use a percentage formatting for the results -->
    <div fxLayoutAlign='center stretch' fxLayout='row wrap'>
    <div *ngFor="let results of data.byID(testId)?.diff">
        <div
          *ngIf="results.result === 'passed' || results.result === 'failed'"
          class="MatButtonEmulation"
          [ngStyle]="{'background-color':highlightColor}">
            {{ 1 - results.metric | percent : '1.0' }}
        </div>
          <!-- Skipped tests are marked with a gray button with beige text -->
        <div
          *ngIf="results.result === 'skipped'"
          class="MatButtonEmulation"
          style="background:gray; color:beige">
            Skipped
        </div>
          <!-- Tests with errors are marked with a black button with red text -->
        <div
          class="MatButtonEmulation"
          style="color:red;background-color:black"
          *ngIf="results.result === 'error'">
            Errored
        </div>
    </div>
  </div>
</div>
<ng-template #notScored>
  <!-- If they are from unscored tests the user has some control over how -->
  <!-- they are displayed using the 'format_type' attribute of each test. -->
  <div  fxLayoutAlign='center stretch' fxLayout='row wrap'>
      <div *ngFor="let results of data.byID(testId)?.diff">
        <!-- Skipped tests are marked with a gray button with beige text -->
        <div
        *ngIf="results.result === 'skipped'"
        class="MatButtonEmulation"
        style="background:gray; color:beige">
          Skipped
        </div>
          <!-- Tests with errors are marked with a black button with red text -->
        <div
          class="MatButtonEmulation"
          style="color:red;background-color:black"
          *ngIf="results.result === 'error'">
            Errored
        </div>
    <div
    *ngIf="results.result === 'passed' || results.result === 'failed'"
    class="MatButtonEmulation"
    [ngStyle]="{'background-color':highlightColor}">
      <!-- Hence for each test, determine now how the result ought to be formatted -->
      <div *ngIf="data.byID(testId)?.format_type === 'count'">
        {{ results.data?.length | number : '1.'}}
      </div>
      <div *ngIf="data.byID(testId)?.format_type === 'number'">
        {{ results.data | number : '1.2-2'}}
      </div>
      <div *ngIf="data.byID(testId)?.format_type === 'percent'">
        {{ results.metric | number : '1.2-2'}}
      </div>
      <div *ngIf="data.byID(testId)?.format_type === 'raw'">
        {{ results.data }}
      </div>
    </div>
    </div>
  </div>
</ng-template>
