<div>
    <mat-expansion-panel
    #expPanel
    class="mat-elevation-z0">
       <mat-expansion-panel-header
       class="mat-expansion-panel-header"
       collapsedHeight="auto"
       style="padding:0.05vh">
       <mat-panel-title fxLayoutAlign='space-between center'>
          <td class="test-title">
              {{ scoreType }}
          </td>
          <div style="margin-right: 10px">
          <td *ngFor='let score of modelScore'>
            <div class="MatButtonEmulation" style="background: white; color:black"> {{ score | percent : '1.0' }} </div>
          </td>
          </div>
         </mat-panel-title>
         <div *ngIf='getSectionWeight() ; else whiteBadge'> 
            <div class='badge'> <span class="vert-align"> X{{ sectionWeight }} </span> </div> 
          </div>
          <ng-template #whiteBadge>
              <div class='badge' style="background-color: white"></div> 
          </ng-template>
       </mat-expansion-panel-header>
       <div>
         <p>The {{ scoreType}} is the result of the following calculation. For more information please click on "Readme" in the top left of the report.</p>
       </div>
       <div *ngFor='let formula of formulae'>
          <p style="font-size: 36px; font-size: 0.6vmax"> {{ formula }} </p>
        </div>
      </mat-expansion-panel>  
</div>
