Sphinx
numpydoc
sphinx-bootstrap-theme
pytest
pandas
click
click-log
plotly
sympy
colorama
cobra
future
gitpython
click-configfile
cloudpickle
cookiecutter
pygithub
travispy
travis-encrypt
importlib_resources
goodtables
